/* Assuming you have the .table class in your table JSX element */
.table {
    background-color: #212121;
    color: white;
    border-collapse: collapse; /* Optional: To remove spacing between table cells */
  }
  
  .Title{
    color: white;
    font-weight: 500px;
  }
  /* Style the table header */
  .table .thead tr th {
    background-color: #212121;
    color: white;
    padding: 12px;
    text-align: left;
  }

  .tr{
    text-align: center;
  }
  
  /* Style the table body */
  .tbody {
    background-color: #212121;
    color: white;
  }
  
  /* Style the table body rows */
  .table tbody tr td {
    padding: 12px;
    border-bottom: 1px solid #444; /* Optional: Add a border between rows */
  }
  
  /* Style the alternate row background color */
  .table tbody tr:nth-child(even) {
    background-color: #333; /* Optional: Change the background color for alternate rows */
  }
  


/* Style the Link elements to look like purple buttons */
.Link {
  background-color: #8e24aa;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.Link:hover {
  background-color: #7b1fa2;
}
/* Player.css */

/* ... (your existing styles) */

/* Style the button to look like a very pale red */
.delete-button {
  background-color:  #e53935;; /* Pale red color */
  color: #f9d5d5; /* Dark red color for text */
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #f5c1c1;
}

/* Style the Link elements to look like purple buttons */
.Link {
  background-color: #8e24aa;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.Link:hover {
  background-color: #7b1fa2;
}

.add-player-link {
  margin-top: 20px; /* Adjust the value as needed */
}