/* Assuming you have the .table class in your table JSX element */
.table {
    background-color: #212121;
    color: white;
    border-collapse: collapse; /* Optional: To remove spacing between table cells */
  }
  
  .Title{
    color: white;
    font-weight: 500px;
  }
  /* Style the table header */
  .table thead tr th {
    background-color: #212121;
    color: white;
    padding: 12px;
    text-align: left;
  }
  
  /* Style the table body */
  .tbody {
    background-color: #212121;
    color: white;
  }
  
  /* Style the table body rows */
  .table tbody tr td {
    padding: 12px;
    border-bottom: 1px solid #444; /* Optional: Add a border between rows */
  }
  
  /* Style the alternate row background color */
  .table tbody tr:nth-child(even) {
    background-color: #333; /* Optional: Change the background color for alternate rows */
  }
  
  /* Hover effect on rows */
  