/* Add this CSS to your stylesheet */
body{
  background-image: url(../../assets//playerbg.png);
  background-size: cover; /* This will make the background image cover the entire container */
  background-repeat: repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the background image */
  
}


.newsletter-table {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  
  
  .table-wrapper {
    overflow-x: auto;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .table-wrapper {
      overflow-x: auto;
      width: 100%;
    }
  }
  
  .newsletter-div{
  
    display: flex;
    justify-content: center;


  }