.add-player-form {
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;

  border-radius: 5px;
  background-color:#222632;
}

.add-player-bg {
  background-color: #222632;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.submitButton {
  background-color: #20a4fc;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin: 10px;
}
.submitButton:hover {
  background-color: #20a4fc;
}
.clearButton {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin: 10px;
}
.clearButton:hover {
  background-color: #20a4fc;
}

.ClearLink {
  background-color: gray;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}



.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: none;
}
