.add-player-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #C3B1E1;
}
.submitButton {
  background-color: #7b1fa2;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin:auto;
  margin: 10px;
}
.submitButton:hover {
  background-color: #9628c5;
  
}
.clearButton {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin:auto;
  margin: 10px;
}
.clearButton:hover {
  background-color: #9628c5;
  
}
.mb-3 {
  margin-bottom: 1rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: none;
}
