/* Add this rule to change the page background color */
body {
  background-color: #212121; /* Replace with the color you want */
}

/* Rest of the existing CSS */
#root {
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
  background-color: #212121;
  
}

.logo {
  height: 25em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

