.title {
    color: #ffffff; /* White color */
    font-weight: 500; /* Medium font weight */
    font-family: "Helvetica Neue", Arial, sans-serif; /* Modern font family */
    font-size: 36px; /* Larger font size */
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Increased letter spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Shadow effect */
    background: linear-gradient(90deg, #9c27b0, #673ab7); /* Gradient background */
    padding: 10px 20px; /* Padding around the title */
    border-radius: 5px; /* Rounded corners */
  }
  /* Style the table header */
  
  .table .thead tr th {
      background-color: #212121;
      color: white;
      padding: 12px;
      text-align: left;
    }
    
    /* Custom styles for the player title */
    /* Style the table */
    .table {
      width: 100%;
      border-collapse: collapse;
      /* Add any other table styles as needed */
    }
    
    /* Custom styles for the table header cells */
    .th {
      white-space: nowrap; /* Prevent the th content from wrapping to the next line */
    }
    
    /* Custom styles for the table body */
    .tbody {
      background-color: #212121;
      color: white;
    }
    
    /* Custom styles for table rows */
    .tr {
      text-align: center;
    }
    
    /* Custom styles for the links/text inside the table */
    .Link {
      background-color: #8e24aa;
      color: white;
      padding: 6px 12px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      margin-right: 10px; /* Add margin between the links */
    }
    
    .DeleteLink {
      background-color: gray;
      color: white;
      padding: 6px 12px;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      margin-right: 10px;
    }
    
    .Link:last-child {
      margin-right: 0; /* Remove margin for the last link */
    }
    
    .Link:hover {
      background-color: #7b1fa2;
    }
    
    .add-player-link {
      margin-top: 20px;
    }
    
    @media (max-width: 768px) {
      .title {
        font-size: 24px; /* Reduce font size for smaller screens */
        padding: 10px; /* Adjust padding for the title */
      }
    
      .thead th {
        padding: 8px; /* Reduce padding for table header cells */
      }
    
      .Link, .DeleteLink {
        padding: 4px 8px; /* Reduce padding for links */
        font-size: 12px; /* Reduce font size for links on smaller screens */
      }
  
  }