/* Apply styling to the container div */
.home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  position: relative; /* Set position to relative for stacking context */
}

/* Home.css */
.home-container{
  padding-top: 100px;
}
.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 40px;
}

.bio {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-style: italic;
  max-width: 500px;
  font-weight: medium;
  filter: drop-shadow(5px 5px 10px #000);
}

.logo {
  width: 45%;

  filter: drop-shadow(2px 2px 5px #000);
}


/* Apply styling to the background image */
.background-image {
  width: 120vw;
  height: 160vh;
  object-fit: cover; /* Image will cover the entire container */
  position: absolute; /* Position the image absolutely within the container */
  top: 0;
  z-index: -1;
  filter: blur(5px);
}


@media (max-width: 600px){
  .logo{
    margin-bottom: 30px;
  }
  .bio-container{
    margin-top: 30px;
    padding-top: 50px;
  }
}