/* Home.css */

.bio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }
  
  .bio {
    color:aliceblue;
    font-size: 24px;
    text-align: center;
    font-style: italic;
    max-width: 500px;
  }

  .logo {
    height: 25em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  