/* Contact.css */

.contact-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* Purple gradient background */
  border-radius: 10px;
  border-color: #59367e;
  border: solid #59367e 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 90%;
  max-width: 800px; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Center the form horizontally */
}

.contact-form-container {
  flex: 1;
}

.contact-h2 {
  text-align: center;
  color: #ffffff; /* White header color on purple gradient background */
  margin-bottom: 30px;
  font-size: 28px; /* Increased font size for the header */
}

.submit-contact {
  color: #ffffff;
  margin-top: 25px; 
}

label {
  font-weight: bold;
  color: #ffffff; /* White label color on purple gradient background */
  margin-bottom: 10px;
  font-size: 20px; /* Increased font size for labels */
}

input,
textarea {
  width: 100%;
  padding: 12px; /* Increased padding for input fields */
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff; /* White background for input fields */
  color: #333333; /* Dark text color */
  font-size: 18px; /* Increased font size for input fields */
}

input::placeholder,
textarea::placeholder {
  color: #888888; /* Lighter placeholder text color */
  font-size: 16px; /* Increased font size for placeholder text */
}

button {
  background-color: #59367e;
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px;
  padding: 14px 24px; /* Increased padding for the button */
  font-size: 20px; /* Increased font size for the button */
  cursor: pointer;
  width: 100%;
  margin-top: 10px; /* Add margin to create space between button and text boxes */
}

button:hover {
  background-color: #41186c; 
  color: #fff;/* Darker purple button background color on hover */
}

.contact-image {
  flex: 1;
  max-width: 600px;
  height: auto;
  margin-left: 60px;
  align-content: right;
}

.dflex{
  display: flex;
  justify-content: space-between;

}
