/* NavBar.css */

.nav-color {
  background-color: #c0c0c0;
  padding-top: 0.5rem; /* Reduce the top padding */
  padding-bottom: 0.5rem; /* Reduce the bottom padding */
}

.nav-text-color,
.nav-text-color .nav-link {
  color: #212121;
}

.navbar-brand {
  padding-top: 0.25rem; /* Reduce the top padding for the logo */
  padding-bottom: 0.25rem; /* Reduce the bottom padding for the logo */
}

.navlogo {
  width: 40px; /* Set the desired width */
  height: 40px; /* Set the desired height */
  object-fit: contain; /* Choose how the image should fit within the container */
  /* Other styles for the logo if needed */
}

.navbar-nav {
  margin-right: -0.5rem; /* Reduce the right margin to remove extra spacing between nav items */
}

.navbar-nav .nav-link {
  padding-left: 0.5rem; /* Add left padding to nav items for better spacing */
  padding-right: 0.5rem; /* Add right padding to nav items for better spacing */
}
